/* Header Background Image */
header {
  background: url(../img/about-ltc-bg.jpg);
  background-size: cover;
  background-position: center;
}

/* Section Padding */
section {
  padding: 0 3rem;
}

/****** COMMITMENT SECTION ******/

/* Vision Section Positioning */
.vision-items {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 5rem;
}

.vision-item {
  width: 33.33%;
  text-align: center;
  margin: 0 2rem;
}

/* Vision Intro */
.vision-intro h2 {
  padding-top: 2rem;
}

.vision-intro p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 3rem;
}

/* Vision Items */
.vision-item img {
  height: 10rem;
}

.vision-item p {
  text-align: center;
  line-height: 2.5rem;
}

/****** QUOTE SECTION ******/

/* Quote Section Positioning */
#quote {
  height: 100vh;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Quote Section Content */
.quote-text {
  align-items: center;
  display: flex;
  justify-content: center;
}

.quote-text p {
  color: #373a36;
  font-size: 2.5rem;
  font-style: italic;
  line-height: 5rem;
  padding: 0 2rem;
}

.quote-text i {
  color: #d48166;
  font-size: 2.5rem;
}

@media all and (max-width: 1200px) {
  /* Section Padding */
  section {
    padding: 0 3rem;
  }

  /* Vision Section */
  .vision-items {
    flex-direction: column;
  }

  .vision-item {
    margin: 2rem 0 0;
    width: 100%;
  }

  .vision-intro p {
    font-size: 1.4rem;
  }

  /* Quote Section */
  #quote {
    height: auto;
    padding: 5rem 1rem;
  }

  .quote-text {
    flex-direction: column;
  }

  .quote-text p {
    font-size: 2.3rem;
    padding: 2rem 0;
  }
}

@media all and (max-width: 1000px) {
  /* Section Padding */
  section {
    padding: 0 3rem;
  }

  /* Vision Section */
  .vision-intro p {
    font-size: 1.2rem;
  }

  /* Quote Section */
  .quote-text p {
    font-size: 2.2rem;
  }

  .quote-text i {
    font-size: 2rem;
  }
}

@media all and (max-width: 800px) {
  /* Section Padding */
  section {
    padding: 0 2rem;
  }

  /* Vision Section */
  .vision-intro p {
    font-size: 1.2rem;
  }

  .vision-item img {
    height: 8rem;
  }

  /* Quote Section */
  .quote-text p {
    font-size: 2rem;
  }

  .quote-text i {
    font-size: 2rem;
  }
}

@media all and (max-width: 600px) {
  /* Section Padding */
  section {
    padding: 0 1rem;
  }

  /* Vision Section */
  .vision-intro p {
    font-size: 1.2rem;
  }

  /* Quote Section */
  .quote-text p {
    font-size: 1.5rem;
  }

  .quote-text i {
    font-size: 2rem;
  }
}
